---
---

@charset 'UTF-8';

@import "./syntax.scss";

html, body{
  font-family: 'Gothic A1', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}


// landing

.article-list{
  li{
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .article-list{
    li{
      font-size: 18px;
    }
  }
 }

.category{
  font-size: 16px;
  width: 25px;
  padding: 5px;
  border-radius: 6px;
  
  &:hover{
    text-decoration: none;
  }

  &.ruby{
    background: #1f1919;
    color: white;
  }
  &.rails{
    background: #cc0000;
    color: white;
  }
  &.stimulusJS, &.Javascript {
    background: #f7df1e;
    color: black;
  }

  &.devops{
    background: #314e6b;
    color: white;
  }

  &.tailwindCSS{
    background: #1cb6b9;
    color: white;
  }
}

// header
.header{
  min-height: 100px;
}

// bg
.bg-black{
  background-color: #000000;
}

.w-max-post{
  max-width: 850px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

// Links

a{
  text-decoration: none;
  // color: #000 !important;
  &:hover{
    // color: #000 !important;
  }

  &.no-underline{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }

  &.no-color-change{
    color:inherit;
  }
}

b{
  font-weight: 700;
}

// 

.blog-title{
  font-size: 45px;
  letter-spacing: -.45px;
  line-height: 1.25;
  word-break: break-word;
}

.post-content{
  overflow: hidden;

  mark{
    background: #e5eff5;
  }

  p,li{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: black
  }

  h2,h3{
    font-size: 32px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .blog-title{
    font-size: 32px;
    font-weight: 600px;
  }

  .post-content{
    overflow: hidden;
    p,li{
      font-size: 18px;
      margin-bottom: 20px;
    }
  
    h2,h3{
      font-size: 26px;
      font-weight: 600;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
}