---
---

@charset 'UTF-8';

@import "./syntax.scss";

// Links

a{
  text-decoration: none;
  // color: #000 !important;
  &:hover{
    // color: #000 !important;
  }

  &.no-underline{
    text-decoration: none;
    // &:hover{
    //   text-decoration: none;
    // }
  }

  &.no-color-change{
    color:inherit;
  }
}

.post-content{
  p,li{
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: rgb(43, 50, 53);
  }

  h2,h3{
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

}